<p style="color: green"><%= notice %></p>

<h1>Todos</h1>

<div id="todos">
  <% @todos.each do |todo| %>
    <%= render todo %>
    <p>
      <%= link_to "Show this todo", user_todo_path(@user, todo) %>
    </p>
  <% end %>
</div>

<%= link_to "New todo", new_user_todo_path(@user) %>
